.tabs{
    max-width:70%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 1rem auto;
}
.tabs ul {
    display: flex;
    list-style: none;
}
.tabs ul li {
    padding: 1rem 1.5rem;
    border:1rem;   
    
}
.tabs ul li button{
    padding: .5rem;
    cursor: pointer;
    background-color: rgb(185, 123, 243);
    outline: none;
    border:none;
    color: white;
    font-weight: 500;
    letter-spacing: .1rem;
}
.emptycart_wrapper{

    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-right: .07rem solid gray;
}
.emptycart_wrapper img{
    width:50%;
    margin:1rem auto;
}
.emptycart_wrapper div{
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    letter-spacing: .1rem;
}
.emptycart_wrapper div a{
    text-decoration: none;
    color: cadetblue;

}