.item_wrapper{
    max-width: 100%;
    display: flex;
    margin:3rem 2rem;    
}
.item_wrapper div:first-of-type{
    max-width: 40%;
}
.item_wrapper div:first-of-type img{
    width:50%;
    margin:2rem 2rem;
}
/* item text details */
.additional_info_container{
    width:650px;
    height:200px;
    
}
.additional_info_container p{
    font-size: 1.1rem;
    width:600px;
}
.additional_info_container h4{
    color: rgb(119, 119, 119);
}
.additional_info_container span{
    font-size: 2rem;
    color: rgb(83, 83, 175);
}
/* item text details */


/* Button holder */
.button_holder{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin:2rem 0rem;
    background-color: rgb(94, 94, 94);
    font-size: 1rem;
    
}
.button_holder:hover{
    background-color: rgb(63, 62, 62);

}
.button_holder button{
    border: .08rem solid violet;
    padding: .3rem;
    width:60%;
    color:rgb(204, 90, 204);
    background-color: white;
    cursor: pointer;
    
}
.button_holder button:hover{
    background-color: rgb(177, 95, 177);
    color: #fff;
    
}

.button_holder a{
    text-decoration: none;
    padding: .5rem;
    font-size: 1.2rem;
    width:40%;
    cursor: pointer;
    color:rgb(68, 68, 68);
    color: honeydew;
}



/* Button holder */

