@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width:100%;
}
body{
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Poppins', sans-serif;
}
.header{
  border-bottom: .09rem solid rgb(170, 170, 247);
  width:25%
}
.header h4{
  width:60%;
  font-weight: 600;
  font-size: 1.3rem;
  margin: 1rem ;
  color: rgb(85, 82, 82);

}


/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
    background-color: rgb(56, 56, 56);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(193, 152, 248); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(163, 99, 247); 
  }